# October Code Jam

## Introduction

This project explores sentiment analysis using Hugging Face Transformers, a leading library for Natural Language Processing (NLP). The goal is to automatically classify text as positive, negative, or neutral using pretrained transformer models.
 
We analyzed sentiment in social media posts, compared multiple models, and visualized their performance and confidence levels. We also applied the models to a creative dataset, showcasing how NLP can reveal insights from real-world text such as tweets, song lyrics, or news articles.

## Data Preprocessing

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Load dataset
data = pd.read_csv('dataset.csv', header=None, names=['id', 'text', 'label'], sep=',')

# Display first few rows of the dataset
display(data.head())

,id,text,label
0,611857364396965889,@aandraous @britishmuseum @AndrewsAntonio Merc...,nocode
1,614484565059596288,Dorian Gray with Rainbow Scarf #LoveWins (from...,happy
2,614746522043973632,@SelectShowcase @Tate_StIves ... Replace with ...,happy
3,614877582664835073,@Sofabsports thank you for following me back. ...,happy
4,611932373039644672,@britishmuseum @TudorHistory What a beautiful ...,happy

In [ ]:
# Display the summary of the dataset
data.info()

# Display  statistics of the dataset
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3085 entries, 0 to 3084
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3085 non-null   int64
 1   text    3085 non-null   object
 2   label   3085 non-null   object
dtypes: int64(1), object(2)
memory usage: 72.4+ KB

                 id
count  3.085000e+03
mean   6.128461e+17
std    4.950761e+15
min    3.871909e+17
25%    6.116572e+17
50%    6.130057e+17
75%    6.143229e+17
max    6.155956e+17

In [ ]:
# Display the shape of all the DataFrame 
n_rows, n_cols = data.shape
print(f"The DataFrame has {n_rows} rows and {n_cols} columns")

The DataFrame has 3085 rows and 3 columns

In [ ]:
# Display the missing values in the dataset
data.isna().sum()

id       0
text     0
label    0
dtype: int64

In [ ]:
# Check for duplicates in the 'final' DataFrame
data.duplicated().sum()

0